<% provide(:title, 'Blog') %>
<% @blogs.each do |blog| %>
  <h1><%=link_to blog.title, blog %></h1>
  <h3>
    <small>Posted on <%= blog.created_at.to_formatted_s(:long_ordinal) %></small>
  </h3>
  <p>
    <%= content_preview(blog.content).html_safe %>
    <small><%= link_to " read more >>", blog %></small>
  </p>

<% end %>
<%= paginate @blogs %>