<% provide(:title, @blog.title) %>
<h1><%= @blog.title %></h1>
<h3>
  <small>Posted on <%= @blog.created_at.to_formatted_s(:long_ordinal) %></small>
</h3>
<p><%= @blog.content.html_safe %></p>
<br>
<h3><%= pluralize(@blog.comments.count, 'Comment')%></h3>
<% if @blog.comments.count == 0 %>
  <i>Nothing here yet.</i>
<% else %>
  <% @blog.comments.each_with_index do |comment, i| %>
    <div 
      <% if i%2 == 0 %>
        id="even_comment"
      <% else %>
        id="odd_comment"
      <% end %>>
      <small><i>
        <% if comment.commenter == 'Ryan Fauver' %>
          <font color=#0F5933><%= comment.commenter %></font> said:
        <% else %>
          <%= comment.commenter %> said:
        <% end %>
      </i></small>
      <br>
      <%= comment.body %>
      <br>
      <small><i>
        on <%= comment.created_at.to_formatted_s(:long_ordinal) %>
      </i></small>
    </div>
  <% end %>
<%end %>
<br>
<h2>Add a comment:</h2>
<%= form_for([@blog, @blog.comments.build]) do |f| %>

    <%= f.label 'Name' %>
    <%= f.text_field :commenter, :value => 'Anonymous' %>
  <p>
    <%= f.label 'Comment' %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Post", class: "btn btn-primary" %>
  </p>
<% end %>