<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="text-center">
      <%= link_to image_tag("title0.png"), '/' %>
    </header>
    <div class="navbar center" role="navigation">
      <div class="navbar-inner">
        <div class ="container">
          <nav>
            <ul class ="nav navbar-nav" >
              <li><%= link_to "Portfolio", 'portfolio' %></li>
              <li><%= link_to "Blog",      '#' %></li>
              <li><%= link_to "Contact",   'contact' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
